SYNC_INTERVAL=CHANGE_ME
LOCAL_SUPABASE_URL=CHANGE_ME
LOCAL_STORAGE_PATH=CHANGE_ME

CLOUD1_SUPABASE_URL=CHANGE_ME
CLOUD1_SUPABASE_SERVICE_ROLE_KEY=CHANGE_ME
CLOUD1_BUCKET=CHANGE_ME

CLOUD2_SUPABASE_URL=CHANGE_ME
CLOUD2_SUPABASE_SERVICE_ROLE_KEY=CHANGE_ME
CLOUD2_BUCKET=CHANGE_ME
